
html {
    background-image: url(../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
}



header h1{
    font-size: 70px;
    margin:20px 0;
    text-align: center;
}
header h2{
    font-size: 50px;
    margin: 0px 0px 40px 0px;
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

header h3{
    font-size: 50px;
    margin: 0px 0px 40px 0px;
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

main.documentation-page h3{
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
}

main.documentation-page h4{
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
}

main.documentation-page h5{
    margin-top: 40px;
    font-size: 30px;
    text-align: center;

}

main.documentation-page h6{
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
}

main.documentation-page h7{
    font-size: 30px;
    line-height: 1.6em;
    margin: 2.5em 0;
    font-family: Helvetica, sans-serif;
    text-align: center;
}
li{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}
p{
    font-size: 30px;
    line-height: 1.6em;
    margin: 2.5em 0;
    font-family: Helvetica, sans-serif;
 
}

main,
header{
    width:100%;
    max-width:1400px; /* means it won't be larger than 1200px on larger screens */
    box-sizing: border-box;
    margin: 0 auto;
    padding: 30px 3%;
}

header.documentation-header{
    padding: 0 3%;
}

.documentation-header section,
main.documentation-page section{
    margin: 10px 10%;
}

footer{
    width:100%;
    min-height:100px;
}


nav{
    padding:10px 3%;
}

nav a{
    color: black;
    text-decoration: none;
}
nav a:hover{
    color: grey;
}

.center-text{
    text-align: center;
}

img{
    width: 100%;
}

/* original aspect ratio width="640" height="360" */
.responsive-video{
    position: relative;
    width: 100%; /* adjust this and the padding-top to change how big it is*/
    height: 0;
    padding-top: 57%; /* padding top is in reltation to the width of parent, it preserves aspect ratio*/
    /* margin: 0 auto; */ /*this would center your video in the section container*/
}
.responsive-video iframe{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
}


/* Flex layouts are one of the easier ways to style responsive layouts that work on all devices */
/* https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox */
/* 将 .flex-container 中的 .flex-item 横向排列 */
.flex-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    
}


.flex-item{
    display: flex;
    /* the following three items can be put on one line: https://developer.mozilla.org/en-US/docs/Web/CSS/flex */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%; /*width of the box, take up a quarter of the parent's size*/
    box-sizing: border-box; /*this means that we can add padding, line below, and still only take 25% width of parent*/
    padding: 5px;
}

.flex-basis-third .flex-item{
    flex-basis: 33.33%; 
}

.flex-basis-half .flex-item{
    flex-basis: 50%; 
}

.flex-item a.work0{
    display: flex;
    width: 100%;
    height: 0;
    padding: 30% 0;
    background-image: url(../assets/images/photo.png); /*change the image to one of you choice */
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#4f4f4f;
    transition: all 0.2s; /* CSS transitions https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions */
}

.flex-item a.work1{
    display: flex;
    width: 100%;
    height: 0;
    padding: 30% 0;
    background-image: url(../assets/images/photo2.png); /*change the image to one of you choice */
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#4f4f4f;
    transition: all 0.2s; /* CSS transitions https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions */
}

.flex-item a.work2{
    display: flex;
    width: 100%;
    height: 0;
    padding: 30% 0;
    background-image: url(../assets/images/photo3.png); /*change the image to one of you choice */
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#4f4f4f;
    transition: all 0.2s; /* CSS transitions https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions */
}

.flex-item a.work3{
    display: flex;
    width: 100%;
    height: 0;
    padding: 30% 0;
    background-image: url(../assets/images/photo4.png); /*change the image to one of you choice */
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#4f4f4f;
    transition: all 0.2s; /* CSS transitions https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions */
}
/* want a different background image for each project? */
/* try give each a tag a unique id in your HTML and then set different background images here*/
/* EXAMPLE CSS: won't work if you just un-comment this:*/
/* .flex-item a#my-special-id{
    background-image: url(../assets/images/custom-image-name.jpeg); 
} */


.flex-item a:hover{
    color:#bbbbbb;
    background-size: 120%;
}

.flex-item h4{
   margin:10px;
   background-color: white;
   padding:5px 10px;
}


/* Media Queries for responsive design */

/* Un-comment the body background-colors to see bold debug color change between screen sizes */

/* Extra large */


    